@font-face {
  font-family: "iconfont"; /* Project id 4126800 */
  src: url('iconfont.woff2?t=1686964410985') format('woff2'),
       url('iconfont.woff?t=1686964410985') format('woff'),
       url('iconfont.ttf?t=1686964410985') format('truetype');
}

.iconfont {
    font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-openai:before {
  content: "\e64b";
}

