$color-primary = #00b3dc
$color-second = #23004C
$color-bg = #F4F2F6
$color-title = #000000
$color-content = #262626
$color-g1 = #F5F5F5
$color-g2 = #F0F0F0
$color-g3 = #E5E5E5
$color-g4 = #B2B2B2
$color-g5 = #9C9C9C
$color-g7 = #595959
$color-g8 = #262626
$color-g9 = #000000
$color-black = #000000
$color-white = #FFFFFF
$color-green = #04A777
$color-orange = #FFBA08
$color-red = #FB4B2F
$color-blue = #6F9DC7
$color-content-fill = #FFFFFF

$size-base = 1rem
$size-10 = 0.714285rem
$size-12 = 0.857143rem
$size-14 = 1rem
$size-16 = 1.142857rem
$size-24 = 1.714286rem
